nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color:orangered;
    color:aliceblue;

}

footer {
    padding: 24px 0px;
    background-color:olivedrab
}


.recipe_list {
    display:grid;
    grid-template-columns: repeat(3, auto) 1fr;
    grid-template-rows: 300px 1fr;
    column-gap: 50px;
    row-gap: 10px;
    padding: 10px;
}

a {
    text-decoration:none;
    color:darkgreen
}

h1 {
    color:forestgreen;
}

img {
    height: 200px;
}

table tr:nth-child(even) {
    background-color:lightgray;

}

a:hover {
    color:darkgreen
}
